<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<header>
    <div class="container-row">
        <a href="/home">
            <img class="logo" src="assets/images/Logo-style-hub-removebg-preview.png" alt="Logo">
        </a>
        <div class="categorias">
            <div class="dropdown">
                <a href="#">Masculino</a>
                <div class="dropdown-content">
                    <a href="#">Camisetas</a>
                    <a href="#">Camisas</a>
                    <a href="#">Casacos</a>
                    <a href="#">Moletons</a>
                    <a href="#">Calças</a>
                    <a href="#">Bermudas</a>
                    <a href="#">Acessórios</a>
                    <a href="#">Tênis</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Feminino</a>
                <div class="dropdown-content">
                    <a href="#">Camisetas</a>
                    <a href="#">Camisas</a>
                    <a href="#">Casacos</a>
                    <a href="#">Moletons</a>
                    <a href="#">Calças</a>
                    <a href="#">Bermudas</a>
                    <a href="#">Acessórios</a>
                    <a href="#">Tênis</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Infantil</a>
                <div class="dropdown-content">
                    <a href="#">Camisetas</a>
                    <a href="#">Camisas</a>
                    <a href="#">Casacos</a>
                    <a href="#">Moletons</a>
                    <a href="#">Calças</a>
                    <a href="#">Bermudas</a>
                    <a href="#">Acessórios</a>
                    <a href="#">Tênis</a>
                </div>
            </div>
        </div>

        <div class="searchbar">
            <form (ngSubmit)="onSearch()">
                <input type="text" [(ngModel)]="searchQuery" placeholder=" Pesquisar.." name="buscar">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        
        <div class="perfil dropdown">
            <a class="icon-profile" href="">
                <i class="fa-solid fa-user"></i>
            </a>
            <div class="dropdown-content">
                <a href="#">Meu Perfil</a>
                <a class="carrinho" href="#">
                    <p>Carrinho   </p>
                    <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                </a>
                <a href="#">
                    <p>Wishlist   </p>
                    <i class="fa-solid fa-heart" style="color: #ffffff;"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="container">
        <div class="pictures-container">
            <img src="{{ img.caminho }}" alt="Imagem {{ produto.nome }}" *ngFor="let img of produto.imagens.$values">
        </div>
        
        <div class="data-container">
            <h2 class="data-name">{{ produto.nome }}</h2>
             
            <div class="data-stars-container">
                <i
                    class="fas fa-star"
                    *ngFor="let estrela of [1, 2, 3, 4, 5]; let i = index"
                    [class.filled]="i < mediaAvaliacao"
                ></i>
                <p>{{ mediaAvaliacao }}.0</p>
            </div>

            <div class="data-price-container">
                <p class="data-price-promotion"> R$ {{ produto.promocao | number: '1.2-2' }} </p>
                <p class="data-price-original"> {{ produto.valor | number: '1.2-2' }}</p>
            </div>
            
           <div class="data-descricao">
            <h3>Descrição:</h3>   
            <p> {{ produto.descricao }} </p>
           </div>

            <button class="data-cart">
               <p>Adicionar ao carrinho <i class="fa-solid fa-cart-plus"></i></p> 
            </button>

            <button class="data-wishlist">
                <p>Adicionar a Wishlist <i class="fa-solid fa-heart"></i></p>
            </button>


        </div>
    </div>

</body>
