/*/////////////////////NAVBAR/////////////////////////*/
* {
    margin: -10px; 
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCBF49;
    height: 13vh;
    width: 100%; 
    padding: 0 40px;
}

.categorias {
    display: flex;
    gap: 20vh; 
    align-items: center;
}

.categorias a {
    text-decoration: none;
    color: white;
    font-size: large;
    margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FCBF49;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    display: flex;
    align-items: center; 
    gap: 10px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dropdown-content a i {
    font-size: 1.2rem; 
}

.dropdown-content a:hover {
    background-color: #f0a500;
    transform: scale(1.05); 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover a {
    color: white;
}

.searchbar {
    display: flex;
    align-items: center;
    overflow: hidden; 
    height: 5vh;
    border-radius: 10px;
}

.searchbar button {
    border-radius: 0 10px 10px 0;
    height: 5vh;
    width: 4vw;
}

.searchbar button:hover{
    background-color: white;
    cursor: pointer;
}

.searchbar input {
    border-radius: 10px 0 0 10px;
    height: 5vh;
    width: 18vw;
    padding-left: 30px; 
    outline: none; 
}

.searchbar i{
    margin-right: 6px;
}

.icon-profile {
    font-size: 1.8rem;
    color: white;
    margin-right: 2vw;
}

.logo {
    height: 18.5vh;
    margin-top: 6px;
}

.perfil .dropdown-content {
    right: 0;
    left: auto;
    background-color: #FCBF49;
}

.perfil .dropdown-content a p {
    margin: 0;
    font-size: 1rem; 
    color: white;
}

.perfil .dropdown-content i {
    color: white;
}

.carrinho:hover, .wishlist:hover {
    transform: scale(1.05); 
}

.perfil .dropdown-content a:hover i {
    color: #fff; 
}
/*/////////////////////NAVBAR/////////////////////////*/

.filter-square {
    margin-left: 2vw; 
    margin-top: 13vh;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 20px;
    padding-top: 20px;
}

.accordion {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s, padding 0.3s;
    font-weight: bold;  
}

.accordion:hover {
    background-color: #f0f0f0;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: white;
    margin-top: 15px;
    padding-left: 35px;
    width: 100%;
}


.panel label {
    display: flex;
    align-items: center; 
    margin-bottom: 12px;
    padding: 10px 0;
    font-size: 15px;
    color: #555;
    border-bottom: 1px solid #ddd;  
}

.panel label:last-child {
    border-bottom: none;  
}


.panel input[type="checkbox"] {
    margin-right: 10px; 
}


.accordion:after {
    content: '\25BC';
    font-size: 16px;
    float: right;
    transition: transform 0.3s;
}


.accordion.active:after {
    content: "\25B2";
    transform: rotate(180deg);
}


.panel.open {
    max-height: 500px;
}

.filtro {
    margin-bottom: 20px; 
}

.botao-filtro {
    width: 100%;
    height: 5vh;
    background-color: #FCBF49;
    border-radius: 10px;
}

.botao-filtro:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: #f0a500;
}

.botao-filtro i {
    margin-left: 3px;
}

.products {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 2rem; 
    margin: 3vh auto; 
    width: 90%; 
}

.products a {
    text-align: center;  
    display: flex;       
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;  
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
    color: #333;
    transition: transform 0.3s ease;
}

.foto-produto {
    width: 80%;  
    height: 30vh;        
    object-fit: cover;    
    border-radius: 10px;  
}

.products a:hover .foto-produto {
    transform: scale(1.05); 
}

.nome-produto {
    font-size: 1.1rem;
    margin-top: 20px;    
    margin-bottom: 5px;      
    font-weight: 600;
    color: #333;
}

.preco-produto {
    font-size: 1rem; 
    color: #555; 
    margin-bottom: 25px;
    margin-top: 1px;
}

.container {
    display: flex;
}

.all-products{
    margin-left: 1vw;
    margin-top: 13vh
}
