<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>
<header>
    <div class="container-row">
        <img class="logo" src="assets/images/Logo-style-hub-removebg-preview.png" alt="Logo">
        <div class="categorias">
            <div class="dropdown">
                <a href="#">Masculino</a>
                <div class="dropdown-content">
                    <a href="#">Camisetas</a>
                    <a href="#">Camisas</a>
                    <a href="#">Casacos</a>
                    <a href="#">Moletons</a>
                    <a href="#">Calças</a>
                    <a href="#">Bermudas</a>
                    <a href="#">Acessórios</a>
                    <a href="#">Tênis</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Feminino</a>
                <div class="dropdown-content">
                    <a href="#">Camisetas</a>
                    <a href="#">Camisas</a>
                    <a href="#">Casacos</a>
                    <a href="#">Moletons</a>
                    <a href="#">Calças</a>
                    <a href="#">Bermudas</a>
                    <a href="#">Acessórios</a>
                    <a href="#">Tênis</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Infantil</a>
                <div class="dropdown-content">
                    <a href="#">Camisetas</a>
                    <a href="#">Camisas</a>
                    <a href="#">Casacos</a>
                    <a href="#">Moletons</a>
                    <a href="#">Calças</a>
                    <a href="#">Bermudas</a>
                    <a href="#">Acessórios</a>
                    <a href="#">Tênis</a>
                </div>
            </div>
        </div>

        <div class="searchbar">
            <form (ngSubmit)="onSearch()">
                <input type="text" [(ngModel)]="searchQuery" placeholder=" Pesquisar.." name="buscar">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        
        <div class="perfil dropdown">
            <a class="icon-profile" href="">
                <i class="fa-solid fa-user"></i>
            </a>
            <div class="dropdown-content" *ngIf="verifyToken(); else loginTemplate">
                <a href="/perfil">Meu Perfil</a>
                <a class="carrinho" href="#">
                    <p>Carrinho   </p>
                    <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                </a>
                <a href="#">
                    <p>Wishlist   </p>
                    <i class="fa-solid fa-heart" style="color: #ffffff;"></i>
                </a>
            </div>  
            
            <ng-template #loginTemplate>
                <div class="dropdown-content">
                    <a href="/login">
                        <p>Login</p>
                        <i class="fa-solid fa-right-to-bracket" style="color: #ffffff; margin-left: 2px;"></i>
                    </a>
                    <a href="/cadastro">
                        <p>Cadastro</p>
                        <i class="fa-solid fa-id-card" style="color: #ffffff; margin-left: 2px;"></i>
                    </a>
                </div>
            </ng-template>
        </div>
    </div>
    
</header>
<body>
    <img class="home-banner" src="assets/images/new-banner.png" alt="Banner">
    <p class="impact">
        COMPRE OS MELHORES LOOKS AQUI
    </p>

    <div class="products-row" >
            <a href="produto/{{ item.id }}" *ngFor="let item of dados">
                <img class="foto-produto" src="{{ item.imagens.$values[0].caminho }}" alt="{{ item.nome }}">
                <p class="nome-produto"> {{ item.nome }} </p>
                <p class="preco-produto"> R$ {{ item.valor | number: '1.2-2'}} </p>
            </a>
    </div>
</body>



